<div ui-growler></div>

<div class='row'>
    <div class='col-lg-12'>
        <ol class='breadcrumb'>
            <li><a href="/admin"><i class='fa fa-dashboard'></i> Home</a></li>
            <li><a href="/admin/menus"><i class='fa fa-th-list'></i> Menus</a></li>
            <li></i> Edit menu</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    <i class="fa fa-plus fa-fw"></i>
                    <a ng-click="addMenuItem()"><%= __("ADMIN_MENUS_LABEL_ADDMENUITEM") %></a>
                </span>
            </div>
            <div class="panel-body">
                
                <form id="form">
                    <input type="hidden" name="menuId" value="{{ menu.Id }}" />

                    <h2>{{ menu.name }}</h2>

                    <ol id="nestedMenu" sortable-menu="" ng-model="menu"></ol>

                    <button class="btn btn-primary" ng-click="saveButtonClicked()">
                        <%= __("ADMIN_COMMON_BUTTON_SAVE") %>
                    </button>
                    <button class="btn btn-primary" ng-click="saveAndCloseButtonClicked()">
                        <%= __("ADMIN_COMMON_BUTTON_SAVEANDCLOSE") %>
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="newMenuItemTemplate.html">

    <div ng-form="createmenuitemform">

        <div class="modal-header">
            <button type="button" class="close" ng-click="closeModal()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><%= __("ADMIN_MENUS_LABEL_ADDMENUITEM") %></h4>
        </div>
        <div class="modal-body">
            <div class='form-group'>
                <input class='form-control' type='text' name='name' ng-model="name" 
                       placeholder='<%= __("ADMIN_MENUS_LABEL_PLACEHOLDER_NAME") %>' required="" />
            </div>
            <div class='form-group'>
                <input class='form-control' type='text' name='url' ng-model="url"
                       placeholder='<%= __("ADMIN_MENUS_LABEL_PLACEHOLDER_URL") %>' required="" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closeModal()"><%= __("ADMIN_COMMON_BUTTON_CLOSE") %></button>
            <button type="button" class="btn btn-primary" ng-disabled="!createmenuitemform.$valid" ng-click="saveAndClose(name, url)">
                <%= __("ADMIN_COMMON_BUTTON_OK") %>
            </button>
        </div>
    </div>
</script>