<% appName = "menusApp" %>

<%- contentFor('title') %>
<h3><i class="fa fa-th-list fa-fw"></i> <%= __('ADMIN_MENUS_LABEL_MAINHEADER') %></h3>

<!-- BODY CONTENT -->
<%- contentFor('body') %>
<script type="text/ng-template" id="/admin/menus/list">
  <%- include list.ejs %>
</script>
<script type="text/ng-template" id="/admin/menus/add">
  <%- include add.ejs %>
</script>
<script type="text/ng-template" id="/admin/menus/edit">
  <%- include edit.ejs %>
</script>

<div ui-growler></div>

<div ng-view></div>

<%- contentFor('bodyend') %>
<script type="text/javascript" src="/assets/admin/scripts/apps/shared/common.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/services/framework.module.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/directives/cms.growlers.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/services/httpinterceptors.js"> </script>
<script type="text/javascript" src="/assets/content/scripts/menus/menusapp.js"> </script>