<% appName = "contentSettingsApp" %>

<%- contentFor('title') %>
<h3><i class="fa fa-th-list fa-fw"></i> <%= __('ADMIN_CONTENTSETTINGS_LABEL_MAINHEADER') %></h3>

<!-- BODY CONTENT -->
<%- contentFor('body') %>

<div class='row'>
    <div class='col-lg-12'>
        <ol class='breadcrumb'>
            <li><a href="/admin"><i class='fa fa-dashboard'></i> Home</a></li>
            <li><i class='fa fa-cogs'></i> Settings</li>
            <li><i class='fa fa-file-text-o'></i> Content settings</li>
        </ol>
    </div>
</div>

<div ui-growler></div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" ng-controller="contentSettingsController">
            <div class="panel-body">
                <div ng-form>

        			<div class="form-group">
                        <label><%= __("ADMIN_CONTENTSETTINGS_LABEL_LANDINGPAGE") %></label>
                        <select class="form-control" ng-model="settings.website_landingpage"
                                ng-options="p.Name as p.Name for p in settings.availablePages">
                            <option value=""><%= __("ADMIN_CONTENTSETTINGS_LABEL_CHOOSELANDINGPAGE") %></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label><%= __("ADMIN_CONTENTSETTINGS_LABEL_WEBSITEDESCRIPTION") %></label>
                        <textarea class="form-control" ng-model="settings.website_description"></textarea>
                    </div>
                    <div class="form-group">
                        <label><%= __("ADMIN_CONTENTSETTINGS_LABEL_WEBSITEKEYWORDS") %></label>
                        <textarea class="form-control" ng-model="settings.website_keywords"></textarea>
                    </div>

                    <button class="btn btn-primary" ng-click="saveButtonClicked()">
                        <%= __("ADMIN_COMMON_BUTTON_SAVE") %>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('bodyend') %>

<script type="text/javascript" src="/assets/admin/scripts/apps/shared/common.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/services/framework.module.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/directives/cms.growlers.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/services/httpinterceptors.js"> </script>
<script type="text/javascript" src="/assets/content/scripts/contentsettings/contentsettingsapp.js"> </script>