<% appName = "dashboardApp" %>

<!-- TITLE CONTENT -->
<%- contentFor('title') %>
<h3><i class="fa fa-dashboard fa-fw"></i> <%= __('ADMIN_DASHBOARD_LABEL_MAINTITLE') %> 
<small><%= __('ADMIN_DASHBOARD_LABEL_SUBTITLE') %></small></h3>
<!-- END OF TITLE CONTENT -->

<!-- BODY CONTENT -->
<%- contentFor('body') %>

<!-- @section InitStartupScripts
{
    cms.home.init();
    cms.googleAnalyticsAuthorisation.init('@Model.GoogleGaAccount', '@Model.GoogleGaHistory', cms.home.googleApiAuthorised);
}
 -->

<div class='row'>
    <div class='col-lg-12'>
        <ol class='breadcrumb'>
            <li>
                <a href="/admin"><i class='fa fa-dashboard'></i> Home</a>                                              
            </li>
        </ol>
    </div>
</div>

<div ng-controller="dashboardController">

    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> 
                    <%= __('ADMIN_DASHBOARD_LABEL_GOOGLEANALYTICS') %></div>
                <div class="panel-body">
                    <div class="busy" id="googleAnalyticsBusyIndicator"></div>
                    <div id="googleAnalyticsResult"></div>
                    
                </div>
                <div class="panel-footer">
                    <input id="googlelogin-button" class="btn btn-primary"
                      value="<%= __('ADMIN_DASHBOARD_BUTTON_LOGINGOOGLEANALYTICS') %>" />
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-bar-chart-o fa-fw"></i> 
                    <%= __('ADMIN_DASHBOARD_LABEL_CONTENTSTATISTICS') %></div>
                <div class="panel-body">
                    <div class="busy" ng-show="showContentStatisticsLoader"></div>
                    <div id="statisticsContainer">
                        <p><%= __('ADMIN_DASHBOARD_LABEL_CURRENTLY') %></p>
                        <h5><span class="label label-primary">{{ contentStatistics.NumberOfContentPages }}</span> <%= __('ADMIN_DASHBOARD_LABEL_CONTENTPAGESSTATS') %></h5>
                        <h5><span class="label label-primary">{{ contentStatistics.NumberOfMenus }}</span> 
                            <%= __('ADMIN_DASHBOARD_LABEL_MENUSSTATS') %></h5>
                        <h5><span class="label label-primary">{{ contentStatistics.NumberOfUsers }}</span> 
                            <%= __('ADMIN_DASHBOARD_LABEL_USERSTATS') %></h5>
                        <h5><span class="label label-primary">{{ contentStatistics.NumberOfUploadedFiles }}</span> 
                            <%= __('ADMIN_DASHBOARD_LABEL_UPLOADSTATS') %></h5>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <% for(var i = 0; i < NODECMS_CONFIG.adminWidgets.length; i++){ 
            for(var j = 0; j < NODECMS_CONFIG.adminWidgets[i].widgets.length; j++){ %>
            
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <<%=NODECMS_CONFIG.adminWidgets[i].widgets[j] %> />
                </div>
            </div> 

        <% } } %>

    </div>
    <div class="row">
        
        <!-- -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> <%= __('ADMIN_DASHBOARD_LABEL_LATESTLOGS') %>
                    <div class="pull-right">
                        <a href="/admin/logs" class="btn btn-primary btn-xs"><%= __('ADMIN_DASHBOARD_LABEL_ALLLOGS') %><i class="fa fa-arrow-right fa-fw"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="busy" ng-show="showLogMessagesLoader"></div>
                    <div id="logMessagesContainer">
                        
                        <ul class="list-group">
                           <li class="list-group-item" ng-repeat="logMessage in latestLogMessages">
                                <span class="label" ng-class="logMessage.iconclass">{{ logMessage.icontext }}</span>
                                <span class="text-muted small">
                                    {{ logMessage.message }}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF BODY CONTENT -->

<%- contentFor('bodyend') %>

<script type="text/javascript" src="/assets/admin/scripts/apps/dashboard/cms.home.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/dashboard/cms.analytics_api_v3_auth.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/dashboard/dashboardApp.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/services/logsService.js"> </script>

<% for(var i = 0; i < NODECMS_CONFIG.adminWidgets.length; i++){ %>
    <script type="text/javascript" src="<%= NODECMS_CONFIG.adminWidgets[i].file %>"> </script>
<% } %>

<!-- @section endOfBody
{
    <script type="text/javascript">
        function googleApiLoaded() {
            cms.googleAnalyticsAuthorisation.handleClientLoad('@Model.GoogleApiKey' , '@Model.GoogleClientId');
        }
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiLoaded"> </script>
    @Scripts.Render("~/admin/scripts/dashboard")
    <script type="text/javascript">
        google.load('visualization', '1', { packages: ['corechart'] });
    </script>
} -->
