<% appName = "menusApp" %>

<%- contentFor('title') %>
<h3><i class="fa fa-th-list fa-fw"></i> <%= __('ADMIN_MENUS_LABEL_MAINHEADER') %></h3>

<!-- BODY CONTENT -->
<%- contentFor('body') %>
<script type="text/ng-template" id="/admin/menus/list">
  <%- include list.ejs %>
</script>
<script type="text/ng-template" id="/admin/menus/add">
  <%- include add.ejs %>
</script>
<script type="text/ng-template" id="/admin/menus/edit">
  <%- include edit.ejs %>
</script>