<% appName = "usersApp" %>

<%- contentFor('title') %>
<h3><i class="fa fa-user fa-fw"></i> <%= __('ADMIN_USERS_LABEL_MAINHEADER') %></h3>

<!-- BODY CONTENT -->
<%- contentFor('body') %>

<script type="text/ng-template" id="/admin/users/listusers">
  <%- include listusers.ejs %>
</script>
<script type="text/ng-template" id="/admin/users/adduser">
  <%- include adduser.ejs %>
</script>
<script type="text/ng-template" id="/admin/users/edituser">
  <%- include edituser.ejs %>
</script>