<% appName = "usersApp" %>

<%- contentFor('title') %>
<h3><i class="fa fa-user fa-fw"></i> <%= __('ADMIN_USERS_LABEL_MAINHEADER') %></h3>

<!-- BODY CONTENT -->
<%- contentFor('body') %>

<script type="text/ng-template" id="/admin/users/listusers">
  <%- include listusers.ejs %>
</script>
<script type="text/ng-template" id="/admin/users/adduser">
  <%- include adduser.ejs %>
</script>
<script type="text/ng-template" id="/admin/users/edituser">
  <%- include edituser.ejs %>
</script>

<div ng-view></div>

<%- contentFor('bodyend') %>
<script type="text/javascript" src="/assets/admin/scripts/apps/shared/common.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/services/services.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/directives/cms.growlers.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/directives/cms.ichecker.js"> </script>
<script type="text/javascript" src="/assets/admin/scripts/apps/services/httpinterceptors.js"> </script>
<script type="text/javascript" src="/assets/security/scripts/users/usersApp.js"> </script>