
<!-- @Html.GenerateBreadCrumbFor("users") -->

<div ui-growler></div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    <i class="fa fa-user fa-fw"></i>
                    <a href="#/adduser"><%= __('ADMIN_USERS_LABEL_CREATENEW') %></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td style="text-align: left"><%= __('ADMIN_USERS_LABEL_TABLEHEADER_USERNAME') %></td>
                            <td style="text-align: left"><%= __('ADMIN_USERS_LABEL_TABLEHEADER_FULLNAME') %></td>
                            <td style="text-align: left"><%= __('ADMIN_USERS_LABEL_TABLEHEADER_LASTLOGIN') %></td>
                            <td style="text-align: center"><%= __('ADMIN_USERS_LABEL_TABLEHEADER_ACTIVE') %></td>
                            <td style="text-align: center"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td style="text-align: left">
                                <a href="#/edituser/{{ user._id }}"><h4>{{ user.username }}</h4></a>
                            </td>
                            <td style="text-align: left">
                                <span>{{ user.fullname }}</span>
                            </td>
                            <td style="text-align: left">
                                <span>{{ user.Lastlogin }}</span>
                            </td>
                            <td style="text-align: center; width: 50px;">
                                <i ng-show="user.active" class="fa fa-check-circle fa-lg fa-green"></i>
                                <i ng-show="!user.active" class="fa fa-ban fa-lg fa-red"></i>                             
                            </td>
                            <td style="text-align: center; width: 50px;">
                                <a href="#" ng-click="deleteUser($index)" 
                                title="<%= __('ADMIN_USERS_LABEL_DELETEUSER', '{{ user.username }}') %>">
                                <i class="fa fa-trash-o fa-fw fa-lg"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>